{{#each packages}}
 <h2><a href='/package/{{id}}' data-role="ajax">{{id}}</a>: {{name}} <a href='/build/{{id}}' data-role="build" id='taskBuild_{{id}}'>Build</a></h2>
 {{/each}}

<a data-role="ajax" href='/addPackage/{{repo}}'>Add package</a>
